script(type="text/ng-template" id="menu-tree")
  li(ng-repeat="v in list")
    p
      span.name(ng-click="update(v, list)") {{v.organizationName}}#[span.count ({{v.accountSize}})]
      span(ng-if="!isAdd")
        span.glyphicon.glyphicon-plus(
        ng-click="addChild(v, $index, list)"
        uib-tooltip="添加子节点"
        tooltip-append-to-body="true")
        span.glyphicon.glyphicon-remove(
        ng-click="delete(v, $index, list)"
        uib-tooltip="删除"
        tooltip-append-to-body="true")
        span.glyphicon.glyphicon-move
    ul(ng-if="v.children" ng-init="lv=lv+1; list=v.children" ng-include="'menu-tree'" ng-sortable="sortConfig")


ul(ng-include="'menu-tree'" ng-sortable="sortConfig")

